body {
    background-image: url(bg.jpg);
    background-size: cover;
}

h1 {
    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 26.4px;
}

h2 {
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Consolas, monaco, monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

a {
  color: inherit; 
  text-decoration: underline; 
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ac3a6f;
    background-color: rgba(230, 230, 230, 0.75);
    padding: 10px;
}
.content {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    position: relative;
    height: 300px;
    margin-top: 25%;
}
